In [2]:
import pandas as pd

In [3]:
input_file = "draw5.csv"
output_file = "draw5_output.csv"

In [4]:
df = pd.read_csv(input_file)
df

                 Name                           Email           Phone
0      Beau Whitfield           beauknows32@gmail.com    613-355-2375
1      Gage Whitfield     gagewhitfield9009@gmail.com    705-975-2471
2        Kent Swirsky              kswirsky@gmail.com    613-213-4835
3       Garrith Rowan          garrith.rm@hotmail.com    905 259 9565
4           Elle Sadi             ellesadi@icloud.com      6046719483
5   Terry Fitzpatrick           ter.fitzpat@gmail.com    613-863-4864
6          Wendy Bell        calvin.bell@sympatico.ca    613-349-2651
7       Julie Running    juliedawnrunning@hotmail.com    613-803-7932
8        Brent Hordry        brenthordry@sympatico.ca   (613)498-4164
9         Talan Young           dtalanyoung@gmail.com    704-492-9635
10     Richard Ridell  richard_riddell123@hotmail.com    613 213 1807
11       Adam Running     alamrunning1982@Hotmail.com    613 803 6600
12      Brie Brereton         briebrereton@gmail.comn    613 349 6218
13          Bob Clark         atomicpaddler@gmail.com    613 363 5482
14         Fran Boyle             franboyle@Gmail.com    613-345-2155
15      Glenys Davies       cakesplusmailbox@yahoo.ca    613-803-9882
16     Gordon Andrews           gordonandrews@live.ca    343-264-9025
17      Larry Lalonde       lannylalonde102@gmail.com    905-317-6448
18    Jackie Dagenais       Jackieedagenais@gmail.com    613-348-3816
19   Linda Rightmeyer       lindarightmeyer@gmail.com     105464 0737
20  Hillary Gerritsen           hillgerr02@icloud.com    613-803-9562
21    Nelda Robertson                neldar@telus.net    403-598-6802
22         Paul Noche           jphache1961@gmail.com    613-925-2333
23   Danielle Laurier     laurierdanielle55@gmail.com  (613) 407-7680
24                Kev           Scotsontop.@gmail.com      6472154107
25        Julie Daxon              jkaydee8@gmail.com    613-532-7596
26            Jenny H          edgleyharley@gmail.com    613-803-7751
27               Kirk      chefintheharbour@gmail.com    613 498 8942
28         Dawn Pedro            drateman@outlook.com    613 213 3523
29    Ainsleey Worden              ainsleey@gmail.com    613-498-4890
30   Gregory Shingler                 gregodb37@gmail           (613)
31       Reina Dejong            reinalea04@gmail.com    613-349-7276

In [5]:
template = pd.read_csv('customers_export.csv')
template.columns

Index(['Customer ID', 'First Name', 'Last Name', 'Email',
       'Accepts Email Marketing', 'Company', 'Address1', 'Address2', 'City',
       'Province', 'Province Code', 'Country', 'Country Code', 'Zip', 'Phone',
       'Accepts SMS Marketing', 'Total Spent', 'Total Orders', 'Tags', 'Note',
       'Tax Exempt'],
      dtype='object')

In [6]:
# Splot 'Name' column into 'First Name' and 'Last Name' columns

name_df = df['Name'].str.split(' ', expand=True)
df['First Name'] = name_df[0]
df['Last Name'] = name_df[1]
df.head()

,Name,Email,Phone,First Name,Last Name
0,Beau Whitfield,beauknows32@gmail.com,613-355-2375,Beau,Whitfield
1,Gage Whitfield,gagewhitfield9009@gmail.com,705-975-2471,Gage,Whitfield
2,Kent Swirsky,kswirsky@gmail.com,613-213-4835,Kent,Swirsky
3,Garrith Rowan,garrith.rm@hotmail.com,905 259 9565,Garrith,Rowan
4,Elle Sadi,ellesadi@icloud.com,6046719483,Elle,Sadi

In [7]:
# Add to email list

df['Accepts Email Marketing'] = 'yes'
df.head()

,Name,Email,Phone,First Name,Last Name,Accepts Email Marketing
0,Beau Whitfield,beauknows32@gmail.com,613-355-2375,Beau,Whitfield,yes
1,Gage Whitfield,gagewhitfield9009@gmail.com,705-975-2471,Gage,Whitfield,yes
2,Kent Swirsky,kswirsky@gmail.com,613-213-4835,Kent,Swirsky,yes
3,Garrith Rowan,garrith.rm@hotmail.com,905 259 9565,Garrith,Rowan,yes
4,Elle Sadi,ellesadi@icloud.com,6046719483,Elle,Sadi,yes

In [8]:
df['Tags']='local'
df.head()

,Name,Email,Phone,First Name,Last Name,Accepts Email Marketing,Tags
0,Beau Whitfield,beauknows32@gmail.com,613-355-2375,Beau,Whitfield,yes,local
1,Gage Whitfield,gagewhitfield9009@gmail.com,705-975-2471,Gage,Whitfield,yes,local
2,Kent Swirsky,kswirsky@gmail.com,613-213-4835,Kent,Swirsky,yes,local
3,Garrith Rowan,garrith.rm@hotmail.com,905 259 9565,Garrith,Rowan,yes,local
4,Elle Sadi,ellesadi@icloud.com,6046719483,Elle,Sadi,yes,local

In [9]:
# Remove 'Name' column

df = df.drop(columns=['Name'])
df.head()

,Email,Phone,First Name,Last Name,Accepts Email Marketing,Tags
0,beauknows32@gmail.com,613-355-2375,Beau,Whitfield,yes,local
1,gagewhitfield9009@gmail.com,705-975-2471,Gage,Whitfield,yes,local
2,kswirsky@gmail.com,613-213-4835,Kent,Swirsky,yes,local
3,garrith.rm@hotmail.com,905 259 9565,Garrith,Rowan,yes,local
4,ellesadi@icloud.com,6046719483,Elle,Sadi,yes,local

In [10]:
# Save file

df.to_csv(output_file, index=False)